

<li>
    {{#if devoured}}
        <p>{{id}}. {{burger_name}}</p>
    {{else}}
    <div class="row">
        <div class="col-8 text-center">
            <p>{{id}}. {{burger_name}}</p>
        </div>

        <div class="col-4 text-center">
            <button class="devourIt" data-id="{{id}}">Devour It!</button>
        </div>    
    </div>        
    {{/if}}
</li>